/* .face {
    width: 100%;
    min-height: 100vh;
    background: url("https://as2.ftcdn.net/v2/jpg/01/25/40/63/1000_F_125406314_XGkqbGGVxih64c0yoSnul8ARbQLh8IDW.jpg") top center;
    background-size: cover;
    position: relative;
  } */